/*
  Frontend styles for gutenberg blocks
*/

/** === Base Color Palatte === */
@each $color, $code in $foundation-palette {

  .has-#{$color}-background-color {
      background-color: $code;
  }

  .has-#{$color}-color {
      color: $code;
  }
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button;
    @each $color, $code in $foundation-palette {

      &.has-#{$color}-background-color {
          background-color: $code;
      }

      &.has-#{$color}-color {
          color: $code;
      }
    }
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link {
		@extend .hollow;
	}
}

.wp-block-cover {
  padding-left: 0;
  padding-right: 0;
}

/** === File === */
.wp-block-file .wp-block-file__button {
  @include button();
}

/** === Gutenberg layout === */

// default is: rem-calc(map-get($grid-column-gutter, small)) / 2
$custom-mobile-container-padding: rem-calc(35px);

.entry-content {
  width: 100%;
  overflow: hidden;

  > *:not(.full-width):not(.alignwide):not(.alignfull):not(.has-background):not(.has-background-dim):not(.has-background-gradient) {


    @include xy-grid-container;
    padding-left: $custom-mobile-container-padding;
    padding-right: $custom-mobile-container-padding;

    @include breakpoint (medium) {
      padding-left: rem-calc(map-get($grid-column-gutter, medium)) / 2;
      padding-right: rem-calc(map-get($grid-column-gutter, medium)) / 2;
    }
  }

  // contain inner for groups with backgrounds
  > .wp-block-group.has-background,
  > .wp-block-cover.has-background-dim,
  > .has-background-gradient {
    > .wp-block-group__inner-container,
    >.wp-block-cover__inner-container {

      @include xy-grid-container;
      padding-left: $custom-mobile-container-padding;
      padding-right: $custom-mobile-container-padding;
      width: 100%;

      @include breakpoint (medium) {
        padding-left: rem-calc(map-get($grid-column-gutter, medium)) / 2;
        padding-right: rem-calc(map-get($grid-column-gutter, medium)) / 2;
      }
    }
  }

  > *.alignwide,
  > *.alignfull {
    max-width: none;
    .wp-block-group {

      @include xy-grid-container;
      padding-left: $custom-mobile-container-padding;
      padding-right: $custom-mobile-container-padding;

      @include breakpoint (medium) {
        padding-left: rem-calc(map-get($grid-column-gutter, medium)) / 2;
        padding-right: rem-calc(map-get($grid-column-gutter, medium)) / 2;
      }
    }
  }

  > *.alignfull {
    min-height: 98vh;
  }

}
