.wp-caption > figcaption {
  color: #999;
  font-size: 0.8rem;
  max-width: 100%;
  padding: 0.25rem 0;
}

p.wp-caption-text {
  color: #666;
  font-size: 90%;
  padding: rem-calc(10) 0;
}

.alignleft {
  float: left;
  margin: 0;
  padding-right: 1rem;
}

.alignright {
  float: right;
  margin: 0;
  padding-left: 1rem;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
