/*!
 * Gutenberg Editor Styles
 */

/** === Includes === */

@charset 'utf-8';

@import 'settings';
@import 'foundation';

@include foundation-typography;
@include foundation-button;
@include foundation-table;

@include foundation-xy-grid-classes;
@include foundation-global-styles;

/* === Custom files === */

// Global
// @import 'global/mixins';
// @import 'global/fonts';
// @import 'global/forms';
@import 'global/helpers';


.block-editor-block-list__layout {
	.wp-block {
		@include breakpoint (medium) {
      max-width: 960px;

      &[data-align=wide] {
				max-width: 1228px;
			}
      &[data-align=full] {
        max-width: 100%;
      }
		}
	}
}

/** === Base Typography === */
body {
	color: $body-font-color;
	font-family: $body-font-family;
	font-size: $global-font-size;
}

/** === Post Title === */
.editor-post-title__block .editor-post-title__input {
  @extend h1;
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling to button in editor
	.wp-block-button__link {
		@extend .button;
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link {
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		background: transparent;
	}
}

/** === File === */
.wp-block-file__button {
	@include button();
}

/** === Pullquote === */
.wp-block-paragraph.has-background {
	padding: rem-calc(20px 30px);
}

/** === Table === */
.wp-block-table td {
	border: 0;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid {
	list-style: none;
}

.block-editor-block-mover.is-visible  {
  display: inline-flex !important;
}

.components-circular-option-picker .components-circular-option-picker__option-wrapper {
  button {
    border-radius: 100%;
  }
}
